<?xml version="1.0"?>

<launch>
    <arg name="verbose" default="false" />
    <arg name="gui" default="false" />
    <arg name="output" default="$(eval 'log' if arg('gui') else 'screen')" />
    <arg name="coms" default="[ 'atwork_commander::com_plugin::ros::TaskArenaCentric',
                                 'atwork_commander::com_plugin::ros::TaskObjectCentric' ]" />
    <arg name="generator" default="JurekGen"/>
    <arg name="multimaster" default="true" />
    <arg name="publish_frequency" default="1.0"/>
    <arg name="config" default="$(find atwork_commander_gen)/config"/>


    <group ns="atwork_commander">
        <!-- load config -->
        <param name="generator" value="$(arg generator)"/>
        <rosparam file="$(arg config)/BMT.yaml"    ns="tasks"/>
        <rosparam file="$(arg config)/BTT1.yaml"   ns="tasks"/>
        <rosparam file="$(arg config)/BTT2.yaml"   ns="tasks"/>
        <rosparam file="$(arg config)/ATT1.yaml"   ns="tasks"/>
        <rosparam file="$(arg config)/ATT2.yaml"    ns="tasks"/>
        <rosparam file="$(arg config)/FINAL.yaml"  ns="tasks"/>
        <rosparam file="$(arg config)/Arena.yaml"/>

        <!-- start refbox (incl task generator) -->
        <node pkg="atwork_commander_core" type="atwork_commander_core_node" name="core" required="true" output="$(arg output)">
          <param name="publish_frequency" value="$(arg publish_frequency)"/>
          <param name="robot_timeout" value="10.0"/>
          <param name="debug" value="$(arg verbose)"/>
        </node>

        <!-- load com -->
        <include file="$(find atwork_commander_com)/launch/atwork_commander_com.launch">
            <arg name="output" value="$(arg output)"/>
            <arg name="coms" value="$(arg coms)"/>
            <arg name="multimaster" value="$(arg multimaster)"/>
            <arg name="refbox" value="/atwork_commander"/>
        </include>

        <include file="$(find atwork_commander_gui)/launch/gui.launch" if="$(arg gui)"/>
    </group>
</launch>
