<?xml version="1.0"?>

<launch>
  <arg name="refbox" default="atwork_commander"/>
  <arg name="team" default="example_team"/>
  <arg name="robot" default="example_robot"/>
  <arg name="multimaster" default="true"/>
  <arg name="output" default="log"/>

  <group ns="$(arg team)">

    <node pkg="atwork_commander_com" type="robot_example_arena_centric" name="$(arg robot)" output="$(arg output)">
      <param name="refboxName" value="$(arg refbox)"/>
      <param name="teamName" value="$(arg team)"/>
      <param name="robotName" value="$(arg robot)"/>
    </node>

  <include file="$(find atwork_commander_com)launch/multimaster.launch" if="$(arg multimaster)">
    <arg name="output" value="$(arg output)"/>
    <arg name="refbox" value="$(arg refbox)"/>
  </include>

  </group>
</launch>
