<?xml version="1.0"?>

<launch>
  <arg name="refbox" default="atwork_commander"/>
  <arg name="verbose" default="false"/>
  <arg name="output" default="screen"/>
  <arg name="continuous" default="false"/>

  <arg name="task"/>
    <node name="generate_helper" pkg="atwork_commander_core" type="control" args="-v $(arg verbose) -c $(arg continuous) generate $(arg task)" output="$(arg output)">
      <param name="refbox" value="$(arg refbox)"/>
    </node>
</launch>
