<?xml version="1.0"?>
<launch>
  <arg name="refbox" default="atwork_commander"/>
  <arg name="task"/>
  <arg name="id"/>
  <arg name="output_dir" default="$(find atwork_commander)/common/bags/"/>
  <arg name="file" value="$(arg output_dir)/$(arg id)_$(arg task).bag"/>
  <node name="record_bag" pkg="rosbag" type="record" args="-O $(arg file) /$(arg refbox)/task /$(arg refbox)/object_task" required="true"/> 
</launch>
