<?xml version="1.0"?>

<launch>
  <arg name="refbox" default="atwork_commander"/>
  <arg name="verbose" default="false"/>

  <node name="forward_helper" pkg="atwork_commander" type="control" args="-v $(arg verbose) stop" output="screen">
      <param name="refbox" value="$(arg refbox)"/>
  </node>
</launch>
