<?xml version="1.0"?>

<launch>
    <arg name="ros_output" default="log" />

    <group ns="atwork_refbox">
        <!-- load config -->
        <rosparam file="$(find atwork_refbox_ros)/config/BNT.yaml" />
        <rosparam file="$(find atwork_refbox_ros)/config/BMT.yaml" />
        <rosparam file="$(find atwork_refbox_ros)/config/BTT1.yaml" />
        <rosparam file="$(find atwork_refbox_ros)/config/BTT2.yaml" />
        <rosparam file="$(find atwork_refbox_ros)/config/BTT3.yaml" />
        <rosparam file="$(find atwork_refbox_ros)/config/RTT.yaml" />
        <rosparam file="$(find atwork_refbox_ros)/config/PPT.yaml" />
        <rosparam file="$(find atwork_refbox_ros)/config/Final.yaml" />

        <rosparam file="$(find atwork_refbox_ros)/config/Arena.yaml" />

        <!-- start refbox (incl task generator) -->
        <node pkg="atwork_refbox_ros" type="atwork_refbox_ros_node" name="atwork_refbox_ros_node" required="true" output="$(arg ros_output)"/>

        <!-- load com -->
        <include file="$(find atwork_refbox_ros_com)/launch/atwork_refbox_ros_com.launch">
            <arg name="output" value="$(arg ros_output)"/>
        </include>

    </group>
</launch>
